.buttons{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.select{
    border: 1px solid #a389d4;
    padding: 2%;
    border-radius: 8px;
    margin-left: 5px;
}

.wrapper{
    align-self: center;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2%;
    border-bottom: 1px solid #f1f1f1;
    padding-bottom: 2%;
    position: relative;
}

.editInputs{
    display: flex;
    align-items: center;
}

.delete{
    height: 100%;
    width: 25px;
    margin-right: 5px;
    cursor: pointer;
    max-width: 80px;

}

.delete:hover{
    opacity: .5;
}
