* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Open Sans";
}

.content-wrapper {
    margin: 0 auto;
    max-width: 90%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 0.5rem;
}

.news-card {
    border: 0px solid aqua;
    position: relative;
    height: 8rem;
    overflow: hidden;
    border-radius: 0.5rem;
    flex: 1;
    min-width: 100%;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    box-shadow: 18px 10px 18px gray;
}

@media (min-width: 100px) {
    .news-card {
        height: 8rem
    }
}

.news-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.7) 80%);
    z-index: 0;
}

.news-card__card-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.news-card__image {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    transition: transform 3s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: relative;
    z-index: -1;
}

.news-card__text-wrapper {
    width: 100%;
    position: absolute;
    bottom: 0rem;
    padding: 1rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.45);
    transition: background-color .1s ease;
}

.news-card__title {
    transition: color 1s ease;
    margin-bottom: .5rem;
    font-size: 10px;
    color: white
}

@media (min-width: 450px) {
    .news-card__title {
        font-size: 20px;
    }
}

.news-card__post-date {
    font-size: .7rem;
    margin-bottom: .5rem;
    color: #CCC;
}

.news-card__details-wrapper {
    max-height: 0;
    opacity: 0;
    transition: max-height 1.5s ease, opacity 1s ease;
}

@media (min-width: 100px) {
    .news-card:hover .news-card__details-wrapper {
        max-height: 2rem;
        opacity: 1;
    }
    .news-card:hover .news-card__text-wrapper {
        background-color: rgba(0, 0, 0, 0.6);
    }
    .news-card:hover .news-card__title {
        color: yellow;
    }

}

.news-card__excerpt {
    font-weight: 300;
    white-space: nowrap;
    overflow: hidden;
    /* overflow: auto; */
    text-overflow: ellipsis;
}

.news-card__read-more {
    position: absolute;
    top: 2%;
    right: 5%;
    background: black;
    color: #bbb;
    display: block;
    padding: 0.4rem 0.6rem;
    border-radius: 0.3rem;
    margin-top: 1rem;
    border: 1px solid #444;
    font-size: 0.8rem;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    text-decoration: none;
    width: 7rem;
    margin-left: auto;
    z-index: 5;
}

.news-card__read-more i {
    position: relative;
    left: 0.2rem;
    color: #888;
    transition: left 0.5s ease, color 0.6s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.news-card__read-more:hover i {
    left: 0.5rem;
    color: yellow;
}

.news-card__card-link:hover {
    cursor: pointer;
}

iframe {
    margin-top: 0px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 0 0 12px 12px;
    -moz-box-shadow: 4px 4px 14px #000;
    -webkit-box-shadow: 4px 4px 14px #000;
    box-shadow: 4px 4px 14px #000;
}

#header {
    margin: 8px auto;
    padding: 8px;
}
