
.delete {
    height: 100%;
    width: 14%;
    margin-right: 5px;
    cursor: pointer;
    max-width: 80px;
}

.delete:hover{
    opacity: .5;
}

.deleteWrapper{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
